<header class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "Book Store", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Search",    search_path %></li>
        <% if !logged_in? %>
        	<li><%= link_to "Admin",    login_path %></li>
        <%else%>
        	<li><%= link_to "Log Out",    logout_path, method: :delete %></li>
        <%end%>
      </ul>
    </nav>
</header>